---
import site from '@data/site'
import Head from '@components/helpers/Head.astro'
import TheHeader from '@components/TheHeader.svelte'
import TheFooter from '@components/TheFooter.svelte'
import { Whatsapp } from 'fulldev-ui'
import CartLines from '@components/shopify/CartLine.svelte'
import Cart from '@components/shopify/Cart.svelte'

const { seo } = Astro.props
---

<!DOCTYPE html>
<html
  lang={site.lang}
  class="color-scheme-light medium"
>
  <head>
    <Head {seo} />
  </head>
  <!--  Temporary oveflow-visile, to overwrite fuldlev plugin overflow-hidden. This causes whatsapp button to be mispositioned -->
  <body class="light-orange overflow-visible bg-base-2">
    <TheHeader client:load />
    <main class="light">
      <slot />
    </main>
    <Whatsapp tel="#" />
    <TheFooter />
    <style>
      /* Temporary, untill we cleaner solution. Needed to set the browsers scrollbar color theme */
      .color-scheme-dark {
        color-scheme: dark;
      }
      .color-scheme-light {
        color-scheme: light;
      }
    </style>
  </body>
</html>
